/* ================================= 
  Base CSS Styles
==================================== */

/* BELOW ORGANIZED BY SELECTOR TYPE IN PART, IN PART BY SECTION  **********************************************************/

/* SOME UNIVERSAL SELECTORS OR FEATURES  **********************************************************/
/* text color */
* {
  color: brown;
}

* {
  line-height: 1.3;
}

/*revive below if need to fix margin on right, to avoid text going so far, etc.*/
/* 
* {
  margin-right: 5%;
} */

/* FLEXBOX SECTION FOR BASE CSS  **********************************************************/
.one-a-experience-heading-ul {
  display: flex;
  flex-direction: column;
}

.leave-message {
  display: flex;
  flex-direction: column;
}

.video-image-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  flex-wrap: wrap;
}

.item-3 {
  order: -1;
}

/* TYPE/ELEMENT SELECTORS  **********************************************************/
body {
  background-image: url("../img/Bckgrnd_image_Circuit_board-v4.png");
  background-color: yellowgreen;
}

h1 {
  font-size: 0.1em;
  font-weight: 900;
  color: darkslategray;
  font-family: fantasy, serif;
}

h2 {
  font-size: 1.4em;
  font-weight: 900;
  color: darkslategray;
  font-family: fantasy, serif;
}

h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  font-weight: 400;
  color: darkslategray;
}

p {
  font-size: 0.8em;
  font-family: "Georgia", serif;
  padding-right: 20%;
}

li {
  font-family: "Georgia", serif;
  font-size: 80%;
  padding-right: 20%;
  padding-left: 10px;
  margin-top: 0.25%;
}

hr {
  border: 10px solid gray;
}

/* LINKS */
/* unvisited link */
a:link {
  color: darkslategray;
}

/* visited link */
a:visited {
  color: rgb(94, 108, 108);
}

/* mouse over link */
a:hover {
  color: rgb(102, 31, 31);
}

/* selected link */
a:active {
  color: darkslategray;
}

/* PARTS OF HEADER, BANNER, & WELCOME ***********************************************************************/
header {
  position: relative;
  margin-top: -0.6%;
  margin-left: -0.6%;
  margin-right: -0.6%;
}

#top-banner {
  position: fixed;
  z-index: 1;
  background-color: gray;
  width: 100vw;
  /* Changed to 1.2 from the more optimal 1.5em b/c font type is changing on some iPhones, making font too big. If can eventually get responsive design figured out for only Safari-specific font alternative, can change back. */
  font-size: 1.2em;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 0.4em;
  /* Tried to use either -webkit-text-size-adjust or text-size-adjust with a colon then negative percent to fix safari issues, didn't work--may be able to find more resources for this at https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust or https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/doc/uid/TP30001266--webkit-text-size-adjust or https://stackoverflow.com/questions/30102792/css-media-query-to-target-only-ios-devices or https://www.evotech.net/blog/2007/07/web-development-for-the-iphone/ */
}

#profile-pic {
  /* set pic to stay in absolute relationship to fixed #top-banner */
  position: absolute;
  /* set in front of nav text */
  z-index: 1;
  top: -40%;
  left: 70%;
  width: 24%;
  height: auto;
}

#welcome-line {
  font-size: 0.9em;
  margin-top: 7em;
}

.break-point {
  margin-top: -5%;
  /* white-space: pre-line; */
}

/* SOME IMAGES ***********************************************************************/
#breakfast {
  width: 25%;
  margin-right: 1%;
  height: auto;
}

.icons {
  width: 15%;
  padding-top: 0.5em;
  margin-left: 1.5%;
  margin-right: 1%;
  height: auto;
}

/* for laptop breakfast & icons ************/
@media screen and (min-width: 950px) {
  #breakfast {
    width: 15%;
  }

  .icons {
    width: 7%;
  }
}

/* for tablets breakfast ***************************/
@media screen and (min-width: 450px) and (max-width: 950px) {
  #breakfast {
    width: 20%;
  }

  .icons {
    width: 7%;
  }
}

/* VIDEO (IN PROJECTS SECTION) **********************************************************/
/* still working on this, probably need to put in flexbox */
#video {
  width: 110px;
  height: 100px;
}

/* maybe come back to try to get jump-to-top to be visible all the time while scrolling later, w/fixed or sticky */
/* #jump-to-top {
  position: sticky;
} */

/* SOME OF THE CLASS SELECTORS **********************************************************/
.padding-top-main-parts {
  padding-top: 0.15em;
}

.padding-bottom-main-parts {
  padding-bottom: 0.25em;
}

/* mainly for name banner at top */
.padding-left {
  padding-left: 0.15em;
}

/* nav section */
/* li bullets */
.nav {
  color: darkslategray;
}
/* li text */
.nav a {
  color: darkslategray;
  filter: brightness(1.4);
  /* set behind #top-banner */
  z-index: -1;
}
/* li text, lighten when hover */
.nav a:hover {
  color: darkslategray;
  filter: brightness(1.8);
}

/* mainly for "jump to the top" part at bottom */
.corrected-margin-right {
  padding-right: 2em;
}

.corrected-margin-left {
  margin-left: 0.6%;
}

.corrected-margin-top {
  margin-top: 0.6%;
}

/*mainly for Experience section border*/
.one-b-experience-heading-li {
  list-style: none;
  border: medium dashed gray;
  margin-right: 10%;
  margin-left: -10%;
  background-color: #88b62c;
  font-weight: bold;
  line-height: 2;
}

/* for laptop Experience section <li> ************/
@media screen and (min-width: 950px) {
  .one-b-experience-heading-li {
    margin-right: 15%;
    margin-left: -3%;
  }
}

/* for tablets Experience section <li> ***************************/
@media screen and (min-width: 450px) and (max-width: 950px) {
  .one-b-experience-heading-li {
    margin-right: 15%;
    margin-left: -3%;
  }
}

/* Connect section */

/*mainly for list section border (in Connect section)*/
.list-borders {
  list-style: none;
  border: medium dashed gray;
  padding-top: 0em;
  padding-bottom: 0.5%;
  margin-right: 30%;
  margin-left: -2%;
  margin-bottom: 1%;
  background-color: #88b62c;
  font-weight: bold;
  line-height: 2;
}

/* for laptop list borders ************/
@media screen and (min-width: 950px) {
  .list-borders {
    margin-right: 60%;
  }
}

/*mainly for experience subheading border*/
.two-experience-subheadings-ul {
  margin-left: -4%;
}

/*mainly for experience section italics*/
.subheading {
  font-style: italic;
}

/* mainly for footer to show green at bottom */
.corrected-margin-bottom {
  margin-bottom: 2%;
}

/* SOME DESCENDANT SELECTORS  **********************************************************/
/* for gray ul bullets */
/* ul li {
  color: darkslategray;
} */

/* container for styling JS-created lists (Skills section) */
.skills-container {
  display: flex;
  flex-flow: wrap column;
  max-height: 500px;
  /* Guidance for below 2 items (basically evenly space <li> boxes /columns within container: https://www.w3docs.com/snippets/css/how-to-set-space-between-flexbox-items.html#:~:text=To%20change%20the%20space%20between,%22space%2Daround%22%20value.  */
  justify-content: space-around;
  align-items: center;
  margin-left: -30px;
}

/* for laptop container for styling JS-created lists (Skills section) *****/
@media screen and (min-width: 950px) {
  .skills-container {
    max-height: 400px;
    margin-right: 15%;
  }
}

/* for tablet container for styling JS-created lists (Skills section) *****/
@media screen and (min-width: 450px) and (max-width: 950px) {
  .skills-container {
    max-height: 300px;
    margin-right: 15%;
  }
}

/* for <li> boxes around each skill */
.ul-parent-for-styled-blocks li {
  width: 140px;
  list-style: none;
  border: medium dashed gray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1px;
  margin-right: 1px;
  margin-left: -1px;
  margin-bottom: 1%;
  background-color: #88b62c;
  font-weight: bold;
  line-height: 2;
}

/* for laptop <li> boxes around each skill *****/
@media screen and (min-width: 950px) {
  .ul-parent-for-styled-blocks li {
    width: 260px;
    margin-right: 1%;
    padding-right: 10px;
  }
}

/* for tablet <li> boxes around each skill *****/
@media screen and (min-width: 450px) and (max-width: 950px) {
  .ul-parent-for-styled-blocks li {
    width: 150px;
    margin-right: 1%;
  }
}

/* LEAVE A MESSAGE SECTION  **********************************************************/
/* change labels */
.message-label {
  background-color: whitesmoke;
  font-size: 95%;
}

/*change message boxes via input & textarea CSS*/
.input-class {
  font-size: 105%;
  padding: 0.3%;
  border: medium dashed gray;
}

/*change margins around message boxes, message labels, & button*/
.message-area-top-margins {
  margin-top: 1.25em;
}

/*button styling*/
#submit-button {
  padding: 0.3%;
  margin-top: 1.01em;
  margin-left: 0.1em;
  background-image: url("../img/irish_flag.svg.png");
  background-size: 100%;
  border: medium solid gray;
  border-bottom-color: darkslategray;
  border-left-color: darkslategray;
  font-weight: bold;
  font-size: 110%;
}

/* FOOTER SECTION  **********************************************************/
footer {
  background-color: gray;
  margin-left: -0.6%;
  margin-right: -0.6%;
}

/* ================================= 
  Some Media Queries (some above)
==================================== */

/* for laptops *****************************/
@media screen and (min-width: 950px) {
  h1 {
    font-size: 200%;
    font-weight: 900;
    color: darkslategray;
    font-family: fantasy, serif;
  }

  h2 {
    font-size: 160%;
    font-weight: 900;
    color: darkslategray;
    font-family: fantasy, serif;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 130%;
    font-weight: 400;
    color: darkslategray;
  }

  p {
    font-size: 1em;
    font-family: "Georgia", serif;
    padding-right: 20%;
  }

  .break-point {
    padding-top: 1%;
    /* white-space: pre-line; */
  }

  li {
    font-family: "Georgia", serif;
    font-size: 100%;
    padding-right: 20%;
    padding-left: 10px;
  }

  #top-banner {
    position: fixed;
    z-index: 1;
    background-color: gray;
    width: 100vw;
    font-size: 300%; /*overrides h1 for banner i believe */
    padding-top: 3%;
    padding-bottom: 1.5%;
    padding-left: 0.4em;
  }

  #profile-pic {
    /* set pic to stay in absolute relationship to fixed #top-banner */
    position: absolute;
    /* set in front of nav text on "Z-axis" */
    z-index: 1;
    top: -30%;
    left: 79%;
    width: 12%;
    height: auto;
  }

  #welcome-line {
    font-size: 1.2em;
    margin-top: 8.5em;
  }

  #video {
    height: 250px;
    width: auto;
  }
}

/* for tablets ***************************/
@media screen and (min-width: 450px) and (max-width: 950px) {
  #top-banner {
    position: fixed;
    z-index: 1;
    background-color: gray;
    width: 100vw;
    font-size: 275%; /*overrides h1 for banner i believe */
    padding-top: 3%;
    padding-bottom: 1.5%;
    padding-left: 0.4em;
  }

  #profile-pic {
    /* set pic to stay in absolute relationship to fixed #top-banner */
    position: absolute;
    /* set in front of nav text */
    z-index: 1;
    top: -45%;
    left: 77%;
    width: 19%;
    height: auto;
  }

  #welcome-line {
    font-size: 1.2em;
    margin-top: 8.5em;
  }

  /* #video {
    width: 40%;
    height: 62.4%;
  } */

  #video {
    height: 200px;
    width: 250px;
  }
}

/* possibly put @media query below for iPhone-like devices (to account for font issues). none of below seem to work as of now though so commented out; see top-banner section above too for links to possible resources to do this, & also check https://stackoverflow.com/questions/62874933/media-query-for-safari-browser & http://browserhacks.com/ ************************** */
/* 
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
  @media {
    /* Your Class 
    #top-banner {
      font-size: 1em; /*overrides h1 for banner i believe 
  }}

  @media not all and (min-resolution:.001dpcm) { 
    @media {
        /* Your Class 
        #top-banner {
          font-size: 1em; /*overrides h1 for banner i believe 
    }}

    _::-webkit-full-page-media, _:future, :root .safari_only {
      property: value;} 

@media screen and (min-width: 0\0) {
  #top-banner {
    font-size: 1em; /*overrides h1 for banner i believe 
  }
} 
*/
